# Dependencies
node_modules

# Build output
dist

# Tauri
src-tauri/target

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Logs
*.log
npm-debug.log*
